.error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 10%, 0.6);
}

.error-card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: var(--secondary-bg-color);
  width: 200px;
  padding: 10px 20px;
  border-radius: 14px;
}

.error-message {
  font: var(--h2);
}

.btn {
  margin-top: var(--gap-lg);
  margin-left: auto;
  width: fit-content;
}