.text-input {
  --padding: 10px;
  --max-width: 380px;

  color: var(--text-color);
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  gap: 4px;
}

input {
  background-color: var(--input-background-color);
  padding: var(--padding);
  border: 1px solid var(--input-border-color); 
  border-radius: 4px;
  font: var(--p);
}
input:focus {
  border: 1px solid var(--input-border-color-focused);
}

label {
  left: var(--padding);
  position: relative;
  color: var(--secondary-text-color);
}
