:root {
	--ff: 'Inter', sans-serif;

	--h1: bold 1.125rem/1.4em var(--ff);
	--h2: bold 1rem/1.4em var(--ff);
	--p: 1rem/1.4em var(--ff);
	--small: 0.875rem/1.4em var(--ff);

	--gray100: hsl(0, 0%, 100%);
	--gray90: hsl(0, 0%, 90%);
	--gray80: hsl(0, 0%, 80%);
	--gray70: hsl(0, 0%, 70%);
	--gray30: hsl(0, 0%, 30%);
	--gray20: hsl(0, 0%, 20%);
	--gray10: hsl(0, 0%, 10%);
	--gray0: hsl(0, 0%, 0%);

	--gap-sm: 0.25rem;
	--gap-md: 0.5rem;
	--gap-lg: 1rem;
	--gap-xl: 1.5rem;

	font-size: 16px;
	box-sizing: border-box;
}

html[data-theme='light'] {
	--background-color: var(--gray90);
	--secondary-bg-color: var(--gray80);
	--text-color: var(--gray0);
	--secondary-text-color: var(--gray30);
	--input-background-color:var(--gray100);
	--input-border-color: var(--gray80);
	--input-border-color-focused: hsl(0, 0%, 60%);
}

html[data-theme='dark'] {
	--background-color: var(--gray10);
	--secondary-bg-color: var(--gray20);
	--text-color: var(--gray100);
	--secondary-text-color: var(--gray70);
	--input-background-color: var(--gray0);
	--input-border-color: var(--gray20);
	--input-border-color-focused: hsl(0, 0%, 40%);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font: var(--p);
	background-color: var(--background-color);
	color: var(--text-color);
}

input {
  all: unset;
}

a {
	text-decoration: none;
	color: inherit;
}