:root {
	--ff: 'Inter', sans-serif;

	--h1: bold 1.125rem/1.4em var(--ff);
	--h2: bold 1rem/1.4em var(--ff);
	--p: 1rem/1.4em var(--ff);
	--small: 0.875rem/1.4em var(--ff);

	--gray100: hsl(0, 0%, 100%);
	--gray70: hsl(0, 0%, 70%);
	--gray30: hsl(0, 0%, 30%);
	--gray20: hsl(0, 0%, 20%);
	--gray10: hsl(0, 0%, 10%);
	--gray0: hsl(0, 0%, 0%);

	--gap-sm: 0.25rem;
	--gap-md: 0.5rem;
	--gap-lg: 1rem;
	--gap-xl: 1.5rem;

	font-size: 16px;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font: var(--p);
	background-color: var(--gray10);
	color: var(--gray100);
}

input {
  all: unset;
}

a {
	text-decoration: none;
	color: inherit;
}